.entrada-body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    color: #73879C;
    align-items: center;
    justify-content: space-around;    
}

.dropzone-group {
    display: flex;    
}

.dropzone-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    margin: 10px;
    padding: 15px;
    border: 1px solid #73879C;
    border-radius: 5px;        
}

.dropzone-section {
    flex:1;
    max-width: 50%;
}

.dropzone-div p {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
}

.dropzone-div:hover {
    border: 3px solid #73879C;
}

.dropzone-div .arquivos {
    font-size: 0.8rem;
}

.dropzone-div .arquivos span {
    color: darkcyan;
}

.entrada-body button {
    background-color: white;
    color: #73879C;
    font-weight: bold;
    font-size: 1rem;
    width: 200px;
    margin: 25px 10px;
    padding: 15px;
}

.entrada-body button:hover {
    color: white;
    background-color: #73879C;
}
