.entrada-body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: white;
    color: #73879C;
    align-items: center;
    justify-content: space-around;    
}

.dropzone-group {
    display: flex;    
}

.dropzone-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 90%;
    background-color: aliceblue;
    margin: 10px;
    padding: 15px;
    border: 1px solid #73879C;
    border-radius: 5px;    
}

.dropzone-div p {
    font-size: 0.9rem;
    text-align: center;
    font-style: italic;
}

.dropzone-div:hover {
    border: 3px solid #73879C;
}

.dropzone-div .arquivos {
    font-size: 0.8rem;
}

.dropzone-div .arquivos span {
    color: darkcyan;
}

.entrada-body button {
    background-color: white;
    color: #73879C;
    font-weight: bold;
    font-size: 1rem;
    width: 20%;
    margin: 25px 10px;
    padding: 15px;
}

.entrada-body button:hover {
    color: white;
    background-color: #73879C;
}

.entrada-body .table-entrada {
    width: 60%;
}

.entrada-body .table-entrada, .table-entrada tr, .table-entrada td, .table-entrada th {
    border: 1px solid #73879C;
    padding: 5px;
}

.entrada-body .table-entrada tr {
    font-size: 0.9rem;
}

.table-entrada .link-formatted {
    text-decoration: none;
    color: #73879C;
    border: 1px solid #73879C;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 2px;
    margin: 0px 8px;
}